<div class="mapp-tracking-data"
    {% if mappInclude('productShopwareId') %}data-product-shopware-id="{{ product.id }}"{% endif %}
    {% if mappInclude('productId') %}data-product-id="{{ product.productNumber }}"{% endif %}
    {% if mappInclude('productName') %}data-product-name="{{ product.translated.name }}"{% endif %}
    {% if mappInclude('productCost') %}data-product-cost="{{ product.CalculatedListingPrice.to.totalPrice }}"{% endif %}
    {% if mappInclude('productCategories') %}data-product-categories="{{ getCategoryNames(product.categoryTree)|json_encode|e('html_attr') }}"{% endif %}
    {% if mappInclude('shoppingCartStatus') %}data-shopping-cart-status="add"{% endif %}
    {% if mappInclude('productQuantity') %}data-product-quantity="1"{% endif %}
></div>
